version: "3"

services:
  eth-discord-bot:
    image: xxx.dkr.ecr.eu-central-1.amazonaws.com/atomy/discord-bot_fear-and-greed:latest
    environment:
      - DISCORD_API_KEY=yyy
      - FEAR_AND_GREED_API_URL=bbb
